/* REMOVE BULLETS & INDENTS, DEFINE WIDTH */
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

li{
  display: inline;
  float: left;
}

li a{
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

h2{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drop-content li{
    float: none;
}

.drop-content li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

/* HIDES DROP CONTENT */
.drop-content{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover{
    background-color: #111;
}

.dropdown:hover .drop-content{
    display: block;
}

.dropdown:hover .drop-content{
    background-color: #333;
}
